{% extends "mypage/base.html" %}
{% block title %}{{current_user.username}}{% endblock %}
{% block content %}

{% if company_list != 0 %}
<div class="mytable">
  <table id="mytable">
    <tr>
      <th>\</th>
      <script>
        var year = {{ date.year }}
        var month = {{ date.month }}
        var day = {{ date.day }}
        var company_list = {{ company_list | tojson }}
        var company_number = company_list.length
        var company_event = {{ company_event | tojson }}
        var month_day_index = {}
        var event_class = { "ES": "es", "テスト": "test", "GD": "gd", "面接": "mensetu", "面談": "mendan", "セミナー": "seminer", "OB訪問": "ob", "インターン": "intern" }


        max_day = { 1: 31, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 }
        //閏年
        if (year % 100 == 0 && year % 400 != 0) {
          max_day[2] = 28
        }
        else if (year % 4 == 0) {
          max_day[2] = 29
        }
        else {
          max_day[2] = 28
        }

        for (var colum = 0; colum < 90; colum++) {
          if (colum == 0 || day == 1) {
            document.write(`<th id=${year}-${month}-${day}>` + month + '/' + day + '</th>');
          }
          else {
            document.write(`<th id=${year}-${month}-${day}>` + day + '</th>');
          }
          month_day_index[month + "/" + day] = colum
          day += 1
          if (day > max_day[month]) {
            day = 1
            month += 1
            if (month >= 12) {
              month = 1
              year += 1
            }
          }
        }
        var tableEle = document.getElementById('mytable');
        for (var row = 0; row < company_number; row++) {
          var tr = document.createElement('tr');
          for (var colum = 0; colum < 91; colum++) {
            if (colum == 0) {
              var th = document.createElement('th');
              th.innerHTML = company_list[row];
              tr.appendChild(th);
            }
            else {
              var td = document.createElement('td');
              td.ondblclick = function () {
                location.href = "{{url_for('mypage.add_event',company_name='company_name' ,year_month_day = 'year_month_day')}}".replace("year_month_day", tableEle.rows[0].cells[this.cellIndex].id).replace("company_name", tableEle.rows[this.parentNode.rowIndex].cells[0].innerHTML);
              };
              td.innerHTML = `<div class=target><span></span></div>`;
              tr.appendChild(td);
            }
          }
          tableEle.appendChild(tr);
        }
        for (i = 0; i < company_event.length; i++) {
          for (j = 0; j < company_event[i].length; j++) {
            var event_name = company_event[i][j][0]
            var start_date = company_event[i][j][1].split('-')
            var start_year = start_date[0]
            var start_month = Number(start_date[1])
            var start_day = Number(start_date[2])
            var start_time = company_event[i][j][2].split(':')
            var start_hour = start_time[0]
            var start_minitue = start_time[1]
            var finish_date = company_event[i][j][3].split('-')
            var finish_year = finish_date[0]
            var finish_month = Number(finish_date[1])
            var finish_day = Number(finish_date[2])
            var finish_time = company_event[i][j][4].split(':')
            var finish_hour = finish_time[0]
            var finish_minitue = finish_time[1]
            var memo = company_event[i][j][5]
            if (start_month + "/" + start_day in month_day_index) {
              cell_index = month_day_index[start_month + "/" + start_day]
              tableEle.rows[i + 1].cells[cell_index + 1].innerHTML += `<div class=target><span class=` + event_class[event_name] + `> ` + event_name.substr(0, 2) + `</span ></div >`;
            }

          }
        }


      </script>
    </tr>
  </table>
</div>
{% endif %}
<form action="{{url_for('mypage.index')}}" method='POST'>
  {{form.csrf_token}}

  <div class="company_register">
    <div class="company">
      <span>{{form.company_name(placeholder="新規会社登録")}}</span>
      {% for message in get_flashed_messages() %}
      <p style="color:red;">※{{message}}</p>
      {% endfor %}
    </div>
    <div class="submit-panel">
      <span>{{form.submit()}}</span>
    </div>
    {% if company_event_dict is not none %}
    <div class="to_csv-panel">
      <a href="javascript:void(0)" class="to_csv" onclick="output()" id="output_btn">CSV出力</a>
    </div>
    {% endif %}
  </div>

</form>
{% endblock %}