{% extends "home/base.html" %}
{% block title %}KAICHI_APP{% endblock %}
{% block content %}
<div class="main">
  <div class="text">
    <br>
    <h1>Jhantingとは</h1>
    <p>就職活動(job hanting)のスケジュールを管理するWebアプリケーションです．アカウント登録していただくことで利用可能となります．皆さんの就職活動の一助となれば幸いです．</p>

    <h1>(就活用説明)</h1>
    <h2>使用技術</h2>
    <h3>フロントエンド</h3>

    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
    <br>
    <h3>バックエンド</h3>
    <ul>
      <li>Python</li>
    </ul>
    <br>

  </div>
</div>
{% endblock %}