
<h2>ユーザの一覧</h2>
<table>
  <tr>
    <th>ユーザID</th>
    <th>ユーザ名</th>
    <th>メールアドレス</th>
  </tr>
  {% for user in users %}
  <tr>
    <td><a href="{{url_for('crud.edit_user',user_id=user.id)}}">{{user.id}}</a></td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
  </tr>
  {% endfor %}
</table>

<h2>ユーザイメージ</h2>
<table>
  <tr>
    <th>イメージID</th>
    <th>ユーザid</th>
    <th>イメージパス</th>
  </tr>
  {% for user_image in users_image %}
  <tr>
    <td>{{user_image.id}}</td>
    <td>{{user_image.user_id}}</td>
    <td>{{user_image.image_path}}</td>
  </tr>
  {% endfor %}
</table>

<h2>イベント</h2>
<table>
  <tr>
    <th>イベントid</th>
    <th>ユーザid</th>
    <th>会社id</th>
    <th>イベント名</th>
    <th>SD</th>
    <th>ST</th>
    <th>FD</th>
    <th>FT</th>
    <th>Memo</th>
  </tr>
  {% for e in event %}
  <tr>
    <td>{{e.id}}</td>
    <td>{{e.user_id}}</td>
    <td>{{e.company_id}}</td>
    <td>{{e.event_name}}</td>
    <td>{{e.start_day}}</td>
    <td>{{e.start_time}}</td>
    <td>{{e.finish_day}}</td>
    <td>{{e.finish_time}}</td>
    <td>{{e.memo}}</td>
  </tr>
  {% endfor %}
</table>

<h2>会社</h2>
<table>
  <tr>
    <th>会社ID</th>
    <th>ユーザid</th>
    <th>会社名</th>
  </tr>
  {% for c in company %}
  <tr>
    <td>{{c.id}}</td>
    <td>{{c.user_id}}</td>
    <td>{{c.company_name}}</td>
  </tr>
  {% endfor %}
</table>
