{% extends "auth/base.html" %}
{% block title %}新規登録{% endblock %}
{% block content %}
<div class="logo">
  <a href="{{url_for('home.index')}}">Jhanting</a>
</div>
<div class="form-wrapper">
  <h2>Jhantingへようこそ</h2>
  <form action="{{url_for('auth.signup',next=request.args.get('next'))}}" method="POST" novalidate="novalidate">
    {{form.csrf_token}}
    <div class="form-item">
      <p class="discription">ユーザ名 <i class="fa-regular fa-user"></i></p>
      <p>{{form.username(size=15,placeholder="15文字以内")}}</p>
      {% for error in form.username.errors %}
      <span style="color:red;">{{error}}</span>
      {% endfor %}
    </div>
    <div class="form-item">
      <p class="discription">メールアドレス <i class="fa-regular fa-envelope"></i></p>
      <p>{{form.email(placeholder="*******@**** . ****")}}</p>
      {% for message in get_flashed_messages() %}
      <p style="color:red;">※{{message}}</p>
      {% endfor %}
      {% for error in form.email.errors %}
      <span style="color:red;">※{{error}}</span>
      {% endfor%}
    </div>
    <div class="form-item">
      <p class="discription">パスワード <i class="fa-regular fa-lock-keyhole"></i></p>
      <p>{{form.password(placeholder="8文字以上20文字以内")}}</p>
      {% for message in get_flashed_messages() %}
      {% if message != "指定のメールアドレスは登録済みです．" %}
      <p style="color:red;">※{{message}}</p>
      {% endif %}
      {% endfor %}
      {% for error in form.password.errors %}
      <span style="color:red;">※{{error}}</span>
      {% endfor %}
    </div>
    <div class="form-item">
      <p class="discription">確認用パスワード <i class="fa-regular fa-lock-keyhole"></i></p>
      <p>{{form.confirm_password}}</p>
      {% for error in form.confirm_password.errors %}
      <span style="color:red;">※{{error}}</span>
      {% endfor %}
    </div>
    <div class="button-panel">
      <p>{{form.submit()}}</p>
    </div>
  </form>
  <div class="form-footer">
  </div>
</div>
</form>
{% endblock %}